body
	background #fff
a
	color rgb(244,67,54)
	

.menuBtn
	background-color transparent
	border none
	height 38px
	width 36px
h2
	text-align center
.menuBtn
	background transparent url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGcgaWQ9IkhlYWRlciI+CiAgICA8Zz4KICAgICAgICA8cmVjdCB4PSItNjE4IiB5PSItMjIzMiIgZmlsbD0ibm9uZSIgd2lkdGg9IjE0MDAiIGhlaWdodD0iMzYwMCIvPgogICAgPC9nPgo8L2c+CjxnIGlkPSJMYWJlbCI+CjwvZz4KPGcgaWQ9Ikljb24iPgogICAgPGc+CiAgICAgICAgPHJlY3QgZmlsbD0ibm9uZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+CiAgICAgICAgPHBhdGggZD0iTTMsMThoMTh2LTJIM1YxOHogTTMsMTNoMTh2LTJIM1YxM3ogTTMsNnYyaDE4VjZIM3oiIHN0eWxlPSJmaWxsOiNmM2YzZjM7Ii8+CiAgICA8L2c+CjwvZz4KPGcgaWQ9IkdyaWQiIGRpc3BsYXk9Im5vbmUiPgogICAgPGcgZGlzcGxheT0iaW5saW5lIj4KICAgIDwvZz4KPC9nPgo8L3N2Zz4=") no-repeat  center center

::-webkit-scrollbar
	background rgba(0, 0, 0, 0.1);
	border-radius 4px
	height 8px
	width 8px

::-webkit-scrollbar-thumb
	background #b8b8b8
	border-radius 4px

.md-inline-list-icon-label
	display inline-block
	padding-left 10px
	padding-right 10px
	margin-top -10px
	height 24px
	vertical-align middle

.box-history
	background red
	padding 1px
	h3
		padding 10px 0 10px 20px
		background #E0E2FF
		margin 0
	.item-history
		padding 10px
	.year
		padding 2px
		text-align center
		background red

.cir
	background #fff
	border 2px solid rgb(255,87,34)
	padding 3px 7px 2px 7px
	border-radius 50%
	color rgb(255,87,34)
	margin 10px
	font-weight bold
.hiss
	background #f2f2f2
	&:nth-child(2n)
		background #fff
		.cir
			background transparent

.vista
	overflow-y scroll

.content_logo,.nameApp
	display inline-block
.content_logo
	img
		padding-top 7px

.centerTitle
	margin-bottom 40px

.material-icons.gray
	color #626262

.buscador
	display none
	background #fff
	padding 0 10px
	box-sizing border-box
	position absolute
	top 0
	width 100%
	height 100%
	input
		background transparent
		border 0
		color #000
		font normal normal 16px 'Roboto', 'Helvetica Neue', sans-serif
		padding 15px
		height 100%
		width calc(100% - 80px)
	input::-webkit-input-placeholder
		color #D1D1D1
		font-weight 0
	input:focus
		outline none
	md-icon
		cursor pointer
.type
	position relative
	display block
	margin-bottom 50px
	padding-bottom 20px
	border-bottom 1px dashed #FFBBBB
	.buttonsSocial
		text-align right
		.md-icon
			margin-right 5px
			cursor pointer
	.description
		ul
			margin 0
			padding 0
			list-style none
			li
				margin-top 20px
.mod
	color rgb(244,67,54)
.derogado
	text-decoration line-through

.divider
	padding 0 5px
	color #FFBEA1

.containerBottomLayout
	position absolute
	width 80%
	right 0
	left 0
	margin-right auto
	margin-left auto
	background rgba(0, 0, 0, 0.1);
	text-align center
	bottom 0
	box-shadow 2px 2px 5px rgba(0,0,0,0.3)
.next,.prev
	position fixed
	border-radius 50%
	a
		display none
		padding 5px
		color #F44336
.next
	right 20px
	bottom 30px
.prev
	bottom 30px


.busqueda
	.boxResult
		ul
			li
				list-style none
				margin 0
				.description
					p,li,strong,div
						color #9F9F9F
						font-size 12px
						margin 0
					li
						list-style none

.table_center
	td, th
		text-align center

.articleFound
	padding 10px
	margin-bottom 5px
	background #eeeeee

.flechas
	width 34px
	height 34px
	opacity 0.5
	transition opacity 0.2s ease-in
	&:hover
		opacity 1