h1 SOBRE NOSOTROS
p.
  Esta aplicación nace para ayudar a las personas para que entiendan
  de una mejor manera el Estatuto Tributario Colombiano, el cual cambia
  mucho cada año por las reformas tributarias y que permitirá ver más
  ráido las normas y enfocandose en los articulos.
h2 Características de esta Apliación

ul
  li Facilidad de acceso
  li Navegación automatizada
  li Buscador limpio
  li Norma en actualización constante

div(layout="row")
  div(flex)
  md-button(ng-click="mostrarDev($event)").md-warn.md-raised Staff
  div(flex)
