h1 SOBRE NOSOTROS
p.
  Esta aplicación nace para ayudar a las personas para que entiendan
  de una mejor manera el Estatuto Tributario Colombiano, el cual cambia
  mucho cada año por las reformas tributarias y que permitirá ver más 
  ráido las normas y enfocandose en los articulos.
h2 Características de esta Apliación

ul
  li Facilidad de acceso
  li Navegación automatizada
  li Buscador limpio
  li Norma en actualización constante

md-card
  md-card-title
    md-card-title-text
      span.md-headline Sobre el desarrollador
      span.md-subhead Apasionado y soñador...
  md-card-content
    div(layout-gt-xs="row")
      div(flex)
        p 
          |Mi nombre es 
          strong Juan David Vargas Cante 
          |estudiante de último semestre de
          |Contaduría Pública de la Universidad Surcolombiana de la ciudad de Neiva (Colombia), 
          |amante de la tecnología y un soñador de la vida, aprovechando los conocimientos de programación
          |adquiridos en internet a lo largo de 5 años, acudiendo a  herramientas que encontramos en la web 
          |foros como <a href="http://stackoverflow.com/">stackoverflow.com</a>, <a href="http://cristalab.com/">cristalab.com</a>, <a href="http://www.forosdelweb.com">forosdelweb.com</a>, y <a href="https://www.platzi.com">Platzi</a>.
        p
          | Espero que te ayude muchisimo esta herramienta y que te permita agilizar procesos y encontrar más facil la información.
      div(flex)
        div(style="margin:0 auto; width: 80%;")
          img(style="box-shadow: 2px 2px 5px #000;border-radius: 50%",width="100%",src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xtf1/v/t1.0-9/1918321_10205314661900645_5772425362701191662_n.jpg?oh=1cf180f19ac619f1ebe3b7050b4a0bda&oe=587ED57F&__gda__=1480796119_8d6f6e380fc6ae701d0a9ba1387959b6")
