h1 API
img(src="images/api-icon.png", width="300")
p.
  Si tu quieres añadir articulos en tu sitio web o aplicación llegaste al lugar correcto.

p
  | Proveemos una API REST rápida y limpia que es fácil de usar, devuelve datos tipo JSON, La root url es https://api.estatuto.com
  | y los endpoints permitidos están documentos aquí abajo. Si tienes alguna pregunta o sugerencia respecto de esta API, por favor
  | envianosun mail a estatuto@gmail.com.

h2 Endpoints
h3 Buscar
h4 Buscar artículos

p
  | Buscar a través de todos los articulos en nuestra base de datos por número de artículo.
  | Los articulos se devuelven si es correcto con una denominación y si no devuelve los relacionados.
ul
  li URL:/buscar/articulo/1
  li Por ejemplo: <a href="/buscar/articulo/241">/buscar/articulo/241</a>

h3 Estructura del artículo
ul
  li type
  li number
  li name
  li description
  li id_capitulo
  li id_titulo
  li id_libro
  li history
  li centerTitle
  li title
  li created
  li lastUpdated
