div.
	<em> Nuevo en esta aplicación? Antes de que la uses, debería leer la </em>
	<a href="#" target="_blank" title="Link opens in a new window"> Ayuda</a>
	<b layout="row" layout-align="center center" layout-margin="layout-margin"> {{alert}}</b>
	<h2 layout="row" layout-align="center center">TITULO PRELIMINAR.</h2>
	<h3 layout="row" layout-align="center center">OBLIGACIÓN TRIBUTARIA.</h3>
	<h4>Art. 1. Origen de la obligación sustancial.</h4>
	<p>La obligación tributaria sustancial se origina al realizarse el presupuesto o los presupuestos previstos en la ley como generadores del impuesto y ella tiene por objeto el pago del tributo.</p>
	<h3 layout="row" layout-align="center center">SUJETOS PASIVOS</h3>
	<h4>Art. 2. Contribuyentes.</h4>
	<p>Son  contribuyentes o responsables directos del pago del tributo los sujetos respecto de quienes se realiza el hecho generador de la obligación sustancial.</p>
	<h4>Art. 3. Responsables.</h4>
	<p>Son responsables para efectos del impuesto de timbre, las personas que, sin tener el carácter de contribuyentes, deben cumplir obligaciones de éstos por disposición expresa de la ley.</p>
	<h4>Art. 4. Sinonimos.</h4>
	<p>Para fines del impuesto sobre las ventas se consideran sinónimos los términos contribuyente y responsable.</p>	