div(ng-repeat='i in res')
	div(ng-if='i.error == true')
		h2 {{i.message}}
		p Por favor dirijase a la página principal
	div(ng-if='i.error != true')
		h2(ng-if='i.centerTitle', layout='row', layout-align='center center') {{i.title}}
		h3 Art {{i.number}}. {{i.name}}
		div(ng-bind-html='i.description')
		md-content(ng-if="i.history")			
			h2.md-toolbar-tools 
				span {{ 'historia' | uppercase}}
				span(flex)
				md-button(ng-click="toggleopenHistory();") {{openHistory.label}}
			md-list(layout="column",ng-hide="openHistory.val",id="listHistory")
				md-item(ng-repeat="h in i.history | orderBy:'-year'").md-3-line.hiss
					div.cir
						h4 {{h.year}}
					div.md-item-text
						h3 {{h.type | uppercase}}
						p {{h. content}}
						h4 {{h.year}}			