div(id="cargando",ng-show="cargando", layout="column",layout-sm="column",layout-align="center center", style="padding: 60px")
	img(src="images/loader.gif",width="30")
div(ng-if='res.error == true')
	h2 {{res.message}}
	p Por favor dirijase a la página principal		
div(ng-if='res.error != true')
	p(ng-if="!res.type && res.data")
		span
			a(href="#/buscar/libro/{{res.libro.number}}/titulo/todos") {{res.libro.name}} 
		span.divider &gt; 
		span(ng-if="res.titulo.type != 'no-titulo'")
			a(href="#/buscar/libro/{{res.libro.number}}/titulo/{{res.titulo.number}}/capitulo/todos") {{res.titulo.name}}
		span(ng-if="res.titulo.type == 'no-titulo'")
			{{res.titulo.name}}
		span(ng-if="res.titulo.type != 'no-titulo'").divider &gt;
		span(ng-if="res.titulo.type != 'no-titulo'")
			{{res.capitulo.name}}
	div(ng-repeat="i in res.data  | orderBy:'number'").type
		h2(ng-if='i.centerTitle', layout='row', layout-align='center center').centerTitle {{i.title}}
		h2(layout="column",layout-sm="column",layout-align="center center")
			a(ng-href="#/buscar/articulo/{{i.number}}") 
				span ARTICULO {{numberEstatuto(i.number)}}
		h3(layout="column",layout-sm="column",layout-align="center center") {{i.name}}
		div(ng-bind-html="i.description").description
		md-content(ng-if="i.history.length > 0")
			h2.md-toolbar-tools
				span {{ 'historia' | uppercase}}
				span(flex)
				md-button(ng-click="toggleopenHistory();") {{openHistory.label}}
			md-list(layout="column",ng-hide="openHistory.val",id="listHistory")
				md-item(ng-repeat="h in i.history | orderBy:'-year'").md-3-line.hiss
					div(ng-if="h.year > 1").cir
						h5 {{h.year}}
					div.md-item-text
						h3 {{h.type | uppercase}}
						p(ng-bind-html="h.content")
		div.buttonsSocial
			md-icon(md-svg-src="images/svg/share5.svg").md-icon
			md-icon(md-svg-src="images/svg/star-shape3.svg").md-icon