div(id="cargando",ng-show="cargando", layout="column",layout-sm="column",layout-align="center center", style="padding: 60px")
	img(src="images/loader.gif",width="30")
div(ng-if='data.error == true')
	h2 {{data.message}}
	p Por favor dirijase a la página principal
div(ng-if='data.error != true')
	p(ng-if="!data.type && data.data")
		span
			a(href="#/buscar/libro/{{data.libro.number}}/titulo/todos") {{data.libro.name}}
		span.divider &gt;
		span(ng-if="data.titulo.type != 'no-titulo'")
			a(href="#/buscar/libro/{{data.libro.number}}/titulo/{{data.titulo.number}}/capitulo/todos") {{data.titulo.name}}
		span(ng-if="data.titulo.type == 'no-titulo'") {{data.titulo.name}}
		span(ng-if="data.titulo.type != 'no-titulo'").divider &gt;
		span(ng-if="data.titulo.type != 'no-titulo'") {{data.capitulo.name}}
	div(ng-repeat="i in data.data  | orderBy:'number'").type
		h2(ng-if='i.centerTitle', layout='row', layout-align='center center').centerTitle {{i.title}}
		h2(layout="column",layout-sm="column",layout-align="center center")
			a(ng-href="#/buscar/articulo/{{i.number}}")
				span ARTICULO {{numberEstatuto(i.number)}}
		h3(layout="column",layout-sm="column",layout-align="center center") {{i.name}}
		div(ng-bind-html="i.description").description
		md-content(ng-if="i.history.length > 0")
			h2.md-toolbar-tools
				span {{ 'historia' | uppercase}}
				span(flex)
				md-button(ng-click="toggleopenHistory();") {{openHistory.label}}
			md-list(ng-hide="openHistory.val",id="listHistory", flex)
				md-list-item(ng-repeat="h in i.history | orderBy:'-year'").md-3-line.hiss
					div(ng-if="h.year > 1").cir
						h5 {{h.year}}
					div
						h3 {{h.type | uppercase}}
						p(ng-bind-html="h.content").md-list-item-text
			div.buttonsSocial
				md-button(ng-if="i.type == 'articulo'", id="reportar", ng-click="reportar($event)", data-art="{{i.number}}").md-warn.md-raised Reportar
				md-button(ng-click="compartir($event)")
					md-tooltip(md-direction="top") Compartir
					md-icon
						i.material-icons.mod share
				md-button(ng-click="compartir($event)")
					md-tooltip(md-direction="top") Guardar
					md-icon
						i.material-icons.mod star rate
