extends layout

block content
	section(layout="row",flex)
		md-sidenav(md-component-id="left",md-is-locked-open="$mdMedia('gt-sm')",tabindex="-1").site-sidenav.md-sidenav-left.md-whiteframe-z2.md-locked-open.ng-isolate-scope.md-closed
			md-toolbar(layout="row").md-theme-indigo
				h1.md-toolbar-tools
					a(layout="row",flex="", href="#").docs-logo
						div(style="width:30px")
							i.fa.fa-book
						div Estatuto Tributario
			md-content(role="navigation").md-default-theme
				ul.docs-menu
					li.parent-list-item
						menu-link(seciton="section").ng-isolate-scope
							a(tabindex="0").md-button.md-default-theme.active
								span.ng-binding.ng-scope INICIO
								div.md-ripple-container
		div(layut="column", tabindex="-1", role="main", flex)
			md-toolbar.md-default-theme
				div(ng-click="openMenu()",tabindex="-1").md-toolbar-tools
					button(ng-click="toggleSidenav('left')",hide-gt-sm).menuBtn
					div(layout="row",flex="").fill-height
						h2.md-toolbar-item.md-breadcrumb Inicio
			md-content(flex).md-padding
				div(layout="column",layout-fill,layout-align="top center")
					p.
						The left sidenav will 'lock open' on a medium (=960px wide) device.