extends layout

block content
	md-sidenav(md-component-id="left",md-is-locked-open="$mdMedia('gt-sm')",tabindex="-1").site-sidenav.md-sidenav-left.md-whiteframe-z2.md-locked-open.ng-isolate-scope.md-closed
		md-toolbar(layout="row").md-theme-indigo
			h1.md-toolbar-tools
				a(layout="row",flex="", href="#").docs-logo
					div(style="width:30px")
						i.fa.fa-book
					div Estatuto Tributario
		md-content(role="navigation").md-default-theme
			ul.docs-menu
				li(ng-repeat="menu in menus").parent-list-item
					menu-link(section="section").ng-isolate-scope
						a(tabindex="0",ng-href="{{menu.url}}").md-button.md-default-theme
							span {{menu.name}}	
							div.md-ripple-container		
	div(layout="column", tabindex="-1", role="main", flex)
		md-toolbar.md-default-theme
			div(ng-click="openMenu()",tabindex="-1").md-toolbar-tools
				button(ng-click="toggleSidenav('left')",hide-gt-sm).menuBtn
				h2 Inicio				
				span(flex)				
				md-button(ng-click="showAdvanced($event)")
					a(hide-sm,href="#")
						md-icon(md-svg-src="images/svg/search.svg",alt="Busqueda rápida",style="margin: 0 4px 0 0;width:20px")
						span busqueda
				md-button(ng-click="showGridBottomSheet($event)",hide-sm)
					a(href="#")
						span Ayuda	
				md-button(aria-label="Search",ng-click="showAdvanced($event)",hide-gt-sm).md-icon-button
					md-icon(md-svg-icon="images/svg/search.svg")													
				md-button(aria-label="More",ng-click="showGridBottomSheet($event)",hide-gt-sm).md-icon-button
					md-icon(md-svg-icon="images/svg/more.svg")		
		md-content(md-scroll-y="",flex="").md-padding.ng-scope.md-default-theme
			div(layout="column").doc-content
				md-content(ng-view).extraPad					