extends layout

block content
	md-sidenav(md-component-id="left",md-is-locked-open="$mdMedia('gt-sm')",tabindex="-1").site-sidenav.md-sidenav-left.md-whiteframe-z2.md-locked-open.ng-isolate-scope.md-closed
		md-toolbar(layout="row").md-theme-indigo
			h1.md-toolbar-tools
				a(layout="row",flex="", href="#").docs-logo
					div(style="width:30px")
						i.fa.fa-book
					div Estatuto Tributario
		md-content(role="navigation").md-default-theme
			ul.docs-menu
				li.parent-list-item
					menu-link(seciton="section").ng-isolate-scope
						a(tabindex="0").md-button.md-default-theme
							span GETTING STARTED								
							div.md-ripple-container
				li.parent-list-item
					menu-link(seciton="section").ng-isolate-scope
						a(tabindex="0").md-button.md-default-theme
							span GETTING OUT								
							div.md-ripple-container
	div(layout="column", tabindex="-1", role="main", flex)
		md-toolbar.md-default-theme
			div(ng-click="openMenu()",tabindex="-1").md-toolbar-tools
				button(ng-click="toggleSidenav('left')",hide-gt-sm).menuBtn
				h2 Inicio																				
		md-content(ng-view,md-scroll-y="",flex="").md-padding.ng-scope.md-default-theme
			div(layout="column").doc-content
				md-content.extraPad
					p
						em Nuevo en esta aplicación? Antes de que la uses, debería leer la 
						a(href="#",target="_blank",title="Link opens in a new window") Ayuda
					div(ng-controller='DemoCtrl as ctrl', layout='column')
						md-content.md-padding(layout='column')
							form(ng-submit='$event.preventDefault()')
								md-autocomplete(ng-disabled='ctrl.isDisabled', md-no-cache='ctrl.noCache', md-selected-item='ctrl.selectedItem', md-search-text='ctrl.searchText', md-selected-item-change='ctrl.selectedItemChange(item)', md-items='item in ctrl.querySearch(ctrl.searchText)', md-item-text='item.display', placeholder='What is your favorite US state?')
									span(md-highlight-text='ctrl.searchText') {{item.display}}
								br
								md-checkbox(ng-model='ctrl.simulateQuery') Simulate query for results?
								md-checkbox(ng-model='ctrl.noCache') Disable caching of queries?
								md-checkbox(ng-model='ctrl.isDisabled') Disable the input?										
								md-checkbox(ng-model='ctrl.isDisabled') Disable the input?		
					h2 Libro V
					p.
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ratione assumenda consequatur aspernatur molestiae, saepe sed animi voluptatibus sunt maxime, molestias architecto porro minima! Provident quos architecto nesciunt voluptates dolorum!
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ratione assumenda consequatur aspernatur molestiae, saepe sed animi voluptatibus sunt maxime, molestias architecto porro minima! Provident quos architecto nesciunt voluptates dolorum!
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ratione assumenda consequatur aspernatur molestiae, saepe sed animi voluptatibus sunt maxime, molestias architecto porro minima! Provident quos architecto nesciunt voluptates dolorum!
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ratione assumenda consequatur aspernatur molestiae, saepe sed animi voluptatibus sunt maxime, molestias architecto porro minima! Provident quos architecto nesciunt voluptates dolorum!
					p.
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ratione assumenda consequatur aspernatur molestiae, saepe sed animi voluptatibus sunt maxime, molestias architecto porro minima! Provident quos architecto nesciunt voluptates dolorum!
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ratione assumenda consequatur aspernatur molestiae, saepe sed animi voluptatibus sunt maxime, molestias architecto porro minima! Provident quos architecto nesciunt voluptates dolorum!
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ratione assumenda consequatur aspernatur molestiae, saepe sed animi voluptatibus sunt maxime, molestias architecto porro minima! Provident quos architecto nesciunt voluptates dolorum!
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ratione assumenda consequatur aspernatur molestiae, saepe sed animi voluptatibus sunt maxime, molestias architecto porro minima! Provident quos architecto nesciunt voluptates dolorum!