extends layout

block content
	md-sidenav(md-component-id="left",md-is-locked-open="$mdMedia('gt-sm')",tabindex="-1").site-sidenav.md-sidenav-left.md-whiteframe-z2.md-locked-open.ng-isolate-scope.md-closed
		md-toolbar(layout="row").md-theme-indigo
			h1.md-toolbar-tools
				a(layout="row",flex="", href="#").docs-logo
					div(style="width:30px")
						i.fa.fa-book
					div Estatuto Tributario
		md-content(role="navigation").md-default-theme
			ul.docs-menu
				li.parent-list-item
					menu-link(seciton="section").ng-isolate-scope
						a(tabindex="0").md-button.md-default-theme
							span GETTING STARTED								
							div.md-ripple-container
				li.parent-list-item
					menu-link(seciton="section").ng-isolate-scope
						a(tabindex="0").md-button.md-default-theme
							span GETTING OUT								
							div.md-ripple-container
	div(layout="column", tabindex="-1", role="main", flex)
		md-toolbar.md-default-theme
			div(ng-click="openMenu()",tabindex="-1").md-toolbar-tools
				button(ng-click="toggleSidenav('left')",hide-gt-sm).menuBtn
				h2 Inicio				
				span(flex)
				md-button(aria-label="More",ng-click="showGridBottomSheet($event)").md-icon-button
					md-icon(md-svg-icon="images/svg/more.svg")																
		md-content(ng-view,md-scroll-y="",flex="").md-padding.ng-scope.md-default-theme
			div(layout="column").doc-content
				md-content.extraPad
					p
						em Nuevo en esta aplicación? Antes de que la uses, debería leer la 
						a(href="#",target="_blank",title="Link opens in a new window") Ayuda
					//- div(ng-controller='DemoCtrl as ctrl', layout='column')
					//- 	md-content.md-padding(layout='column')
					//- 		form(ng-submit='$event.preventDefault()')
					//- 			md-autocomplete(ng-disabled='ctrl.isDisabled', md-no-cache='ctrl.noCache', md-selected-item='ctrl.selectedItem', md-search-text='ctrl.searchText', md-selected-item-change='ctrl.selectedItemChange(item)', md-items='item in ctrl.querySearch(ctrl.searchText)', md-item-text='item.display', placeholder='What is your favorite US state?')
					//- 				span(md-highlight-text='ctrl.searchText') {{item.display}}
					//- 			br
					//- 			md-checkbox(ng-model='ctrl.simulateQuery') Simulate query for results?
					//- 			md-checkbox(ng-model='ctrl.noCache') Disable caching of queries?
					//- 			md-checkbox(ng-model='ctrl.isDisabled') Disable the input?										
					//- 			md-checkbox(ng-model='ctrl.isDisabled') Disable the input?	
					b(layout="row",layout-align="center center",layout-margin)  {{alert}}
					h2(layout="row",layout-align="center center") TITULO PRELIMINAR.
					h3(layout="row",layout-align="center center") OBLIGACIÓN TRIBUTARIA.
					h4 Art. 1. Origen de la obligación sustancial.
					p.
						La obligación tributaria sustancial se origina al realizarse el presupuesto o los presupuestos previstos en la ley como generadores del impuesto y ella tiene por objeto el pago del tributo.
					h3(layout="row",layout-align="center center") SUJETOS PASIVOS
					h4 Art. 2. Contribuyentes.
					p.
						Son  contribuyentes o responsables directos del pago del tributo los sujetos respecto de quienes se realiza el hecho generador de la obligación sustancial.
					h4 Art. 3. Responsables.
					p.
						Son responsables para efectos del impuesto de timbre, las personas que, sin tener el carácter de contribuyentes, deben cumplir obligaciones de éstos por disposición expresa de la ley.
					h4 Art. 4. Sinonimos.
					p.
						Para fines del impuesto sobre las ventas se consideran sinónimos los términos contribuyente y responsable.