doctype html
html(lang="es",ng-app="StarterApp")
	head
		title Estatuto Tributario - Colombia
		link(rel="icon", href="favicon.png")
		link(rel="stylesheet", href="//fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic")
		link(rel="stylesheet", href="libraries/angular-material.min.css")		
		link(rel="stylesheet", href="libraries/font-awesome.min.css")
		meta(name="viewport" content="initial-scale=1, maximum-scale=1")
		link(rel='stylesheet', href='bower_components/docs-angular/docs.css')
		link(rel='stylesheet', href='/css/style.css')
	body(style="background:#FFC3D4",ng-controller="AppCtrl", layout="row")
		block content
		script(src="libraries/angular.min.js")
		script(src="libraries/angular-animate.min.js")
		script(src="libraries/angular-route.min.js")
		script(src="libraries/angular-aria.min.js")
		script(src="libraries/angular-material.min.js")
		script(src="js/script.js")