extends layout

block content
	div(layout="row",layout-fill,layout-align="center center")		
		div(layout="column", flex="33",flex-sm="90")
			md-toolbar.md-primary
				h1.md-toolbar-tools LOGIN
			md-content.md-padding
				img(src="", alt="")
				form(name="projectForm")
					md-input-container
						label Email
						input(required, name="description")
					md-input-container
						label Contraseña
						input(required, name="clientName")
					md-input-container
						md-button.md-raised.md-primary Entrar