div(ng-if='!r.error')
	div(ng-if="r.data.length > 0")
		h1 Resultados de la busqueda.
		ul
			li(ng-repeat="a in r.data")
				a(href="#/buscar/{{a.type}}/{{a.number}}")
					{{a.type}} | {{a.number}} | {{a.name}}
		span(ng-if="r.data.length == 0", id="") La palabra clave '{{r.parameter}}' no ha tenido relación con ninguno de lso artículos.
	div()
		h2 ¡Buscar articulos!
		p.
			Realice la busqueda con palabras claves, como por ejemplo: impuest, 
			renta, iva, sujetos pasivos, entre otros. <br>Tambien puede solamente escribir el 
			numero del articulo y su busqueda se efectuará, además de sus sub-artículos.
			Esta busqueda es realizada mediante el nombre del artículo y su contenido.
	
div(ng-if='r.error')
	{{r.err.message}}